body{
    margin: 0;
    padding: 0;
    font-family:  'Josefin Sans', sans-serif;
    font-size: 1rem;
    position: relative;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgb(63, 65, 75), rgb(63, 65, 75) 3px, rgb(39, 40, 46) 3px, rgb(39, 40, 46) 15px);
    background-size: 100% 50px;
    color: rgb(250, 250, 250);
}
.title{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 3rem 0;
    font-weight: 600;
}
.btnTop{
    color: rgb(31, 31, 36);
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    padding: 0.75rem 1rem;
    background-color: rgba(240, 240, 250, 0.8);
    border-radius: 50%;
}
.btnTop-icon{
    color: rgb(31, 31, 36);
    font-size: 1.2rem;
}
.btnTop:hover{
    background-color: rgb(240, 240, 250);
}
.btnTop:visited{
    background-color: rgba(240, 240, 250, 0.8);
}
header{
    color: rgb(31, 31, 36);
    background-color: rgba(240, 240, 250, 0.9);
}
main{
    width: 95%;
    margin: 0 auto;
}
.delete-box{
    display: none;
    text-align: right;
}
.delete-box p{
    margin: 0;
    width: 150px;
    border: 2px solid rgb(240, 209, 174);
    color: rgb(240, 209, 174);
}
.delete-box:hover p{
    background-color: rgb(240, 209, 174);
    color: rgb(31, 31, 36);
}
.add-task{
    width: 90%;
    margin: 3rem auto;
}
.btn-add{
    background-color: rgb(171, 171, 236);
}
.input-add:focus-visible{
    outline:rgb(171, 171, 236) auto 2px;
}
.tasks{
    margin-bottom: 6rem;
}
.task-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 0;
    padding: 1rem 0.5rem;
    background-color: rgba(240, 240, 255, 0.15);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(5, 5, 5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: 'Lato', sans-serif;
}
.task-item-text{
    flex-basis: 70%;
    padding: 0 0.5rem;
}
.task-item-text p{
    margin-bottom: 0;
}
.task-item-text-date{
    font-size: 0.7rem;
    color: rgb(124, 133, 141);
}
.task-complete{
    display: none;
    font-size: 0.9rem;
    margin-top: 0.25rem;
    text-align: center;
    font-family:  'Josefin Sans', sans-serif;
    color: rgba(31, 31, 36, 0.9);
    background-color: rgb(216, 250, 239);
    border-radius: 3px;
    padding: 0.1rem 0;
}
.task-item-complete-icon, .task-item-delete-icon{
    flex-basis: 8%;
    margin: 0;
    color: white;
    font-size: 0.8rem;
}
.task-item-complete-icon{
    background-color: rgb(137, 206, 183);
}
.task-item-delete-icon{
    color: rgb(247,135,138); 
    font-size: 1.3rem;
}
.task-item-priority-icon{
    color: rgb(224, 215, 77);
    font-size: 1.3rem;
}
.no-tasks{
    display: none;
    width: 70%;
    text-align: center;
    margin: 6rem auto;
    padding: 5rem 3rem;
    background-color: rgba(255,246,155, 0.9);
    color: rgb(31, 31, 36);
}
.notification{
    display: none;
    margin: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}
.notification-text{
    margin: 0 auto;
    padding: 2rem 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
}
.notification-delete-all{
    color: rgb(240, 209, 174);
}
.notification-delete-item{
    color: rgb(250, 190, 192);
}
.notification-complete-item{
    color: rgb(216, 250, 239);
    padding: 1rem 4rem;
}
.notification-priority-item{
    color: rgb(255,246,155);
}
.show{
    display: block;
}
.hide{
    display: none;
}
@media screen and (min-width: 992px){
    main, .notification p{
        width: 40%;
    }
    .add-task{
        width: 70%;
    }
    .no-tasks{
        width: 70%;
    }
}